@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

@layer base {
  html {
    font-family: var(--font-rubik), system-ui, sans-serif;
  }
  
  body {
    color: var(--foreground);
    background: var(--background);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* -----> Estilos para la barra de desplazamiento <----- */

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #353535;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(123, 123, 123); 
  border-radius: 10px;
}

/* Estilos para la selección */
::selection {
  background-color: white;
  color: black;
}

/* Estilos para las Alertas */

.swal2-popup {
  background: rgba(0, 0, 0, 0.86) !important;
  border-radius: 10px;
}

.swal2-title {
  color: #ffffff !important;
}

.swal2-html-container {
  color: #f1f1f1 !important;
}

.swal2-confirm {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.swal2-popup.swal2-show {
  animation: fadeInDown 0.3s;
}

.swal2-popup.swal2-hide {
  animation: fadeOutUp 0.3s;
}